<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CineXpress.View</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CineXpress.View.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style>
        .rodape{
    display:inline-flex;
    margin-left:90%;
    padding:5px;
    text-transform:uppercase;
    list-style-type: none;  
    }

    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
      
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CineXpress</a>
                <button class="navbar-toggler" type="reset" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
       
                        <li>
                                 <form action="/pesquisa.php">
                              <input type="text" placeholder="Pesquisar..." name="pesquisar">
                                <button type="submit"><i class="fa fa-search"></i></button>
                                 </form>
                                  
                        </li>   
                        
                     </ul>
                          
                </div>
                </div>
            
        </nav>
    </header>
    <div class="container">
        
            @RenderBody()
        
    </div>


    <footer class="border-top footer text-muted navbar-dark bg-dark">
        <div class="container">

        
            <div>
                <ul class="rodape">
                    <li> <a href="../Views/Filme/Criar.cshtml"><img  src="~/img/facebook.png" height="60px" width="60px"  /> </a>  </li>
                  
                    <li> <a href="../Views/Filme/Criar.cshtml"> <img src="~/img/twitter.png" height="60px" width="60px" /></a> </li>

                    <li> <a href="../Views/Filme/Criar.cshtml"> <img src="~/img/instagram.png" height="60px" width="60px" /> </a> </li>
                </ul>
         </div>
        </div>


  











    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
