@model CineXpress.Model.TbCliente

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar Clientes</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CliId" />
            <div class="form-group">
                <label asp-for="CliNome" class="control-label"></label>
                <input asp-for="CliNome" class="form-control" />
                <span asp-validation-for="CliNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CliEmail" class="control-label"></label>
                <input asp-for="CliEmail" class="form-control" />
                <span asp-validation-for="CliEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CliSenha" class="control-label"></label>
                <input asp-for="CliSenha" class="form-control" />
                <span asp-validation-for="CliSenha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CliCpf" class="control-label"></label>
                <input asp-for="CliCpf" class="form-control" />
                <span asp-validation-for="CliCpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CliDataNascimento" class="control-label"></label>
                <input asp-for="CliDataNascimento" class="form-control" />
                <span asp-validation-for="CliDataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CliCelular" class="control-label"></label>
                <input asp-for="CliCelular" class="form-control" />
                <span asp-validation-for="CliCelular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Cliente">Voltar para lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
