@model CineXpress.Model.TbFilme

@{
    ViewData["Title"] = "Editar";
}
<style>.cor{ color:white;

    }</style>

<h1 class="cor ">Editar</h1>


<hr />
<div class="cor" class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FilNome" class="control-label"></label>
                <input asp-for="FilNome" class="form-control" />
                <span asp-validation-for="FilNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilClassificacao" class="control-label"></label>
                <input asp-for="FilClassificacao" class="form-control" />
                <span asp-validation-for="FilClassificacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilSinopse" class="control-label"></label>
                <input asp-for="FilSinopse" class="form-control" />
                <span asp-validation-for="FilSinopse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilDuracao" class="control-label"></label>
                <input asp-for="FilDuracao" class="form-control" />
                <span asp-validation-for="FilDuracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Filme">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
