@model CineXpress.Model.TbFuncionario

@{
    ViewData["Title"] = "Criar";
}

<h1>Criar</h1>

<h4>TbFuncionario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Criar">
            <div asp-valFunIdation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FunNome" class="control-label"></label>
                <input asp-for="FunNome" class="form-control" />
                <span asp-valFunIdation-for="FunNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FunEmail" class="control-label"></label>
                <input asp-for="FunEmail" class="form-control" />
                <span asp-valFunIdation-for="FunEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FunSenha" class="control-label"></label>
                <input asp-for="FunSenha" class="form-control" />
                <span asp-valFunIdation-for="FunSenha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FunCpf" class="control-label"></label>
                <input asp-for="FunCpf" class="form-control" />
                <span asp-valFunIdation-for="FunCpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FunDataNascimento" class="control-label"></label>
                <input asp-for="FunDataNascimento" class="form-control" />
                <span asp-valFunIdation-for="FunDataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FunCelular" class="control-label"></label>
                <input asp-for="FunCelular" class="form-control" />
                <span asp-valFunIdation-for="FunCelular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Funcionario">Funcionario</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValFunIdationScriptsPartial");}
}
