@{
    ViewData["Title"] = "Home Page";

}
<style> .col {
    
    padding: 30px;
}
.img{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.filmes{
    background-color:rgb(23, 43, 67);
    text-decoration:none;
    margin-top: 5px;
    width:400px;
    border:none;
    color:white;
   
}
a{
    color: white;
    text-decoration:none;
    
}
</style>

<div>
<div class="row">
   <div class="col"> <img class="img" src="./img/batman.jpg" height="200px" width="400px" /> <button  type="button"  class="filmes"> <a asp-area="" asp-controller="Filme" asp-action="BatmanDetalhe">Batman</a> </button>  </div>

      
    <div class="col"> <img src="./img/maxsteel.jpg" height="200px" width="400px" />  <button  type="button"  class="filmes"> <a asp-area="" asp-controller="Filme" asp-action="MaxSteelDetalhe">Max Steel</a> </button>  </div>
</div>
 
<div class="row">
     <div class="col"> <img src="./img/vingadores.jpg" height="200px" width="400px" />  <button  type="button"  class="filmes"> <a asp-area="" asp-controller="Filme" asp-action="VingadoresDetalhe">Vingadores</a> </button>   </div>
       <br />
   
      <div class="col"> <img src="./img/hotwheels.jpg" height="200px" width="400px" />  <button  type="button"  class="filmes"> <a asp-area="" asp-controller="Filme" asp-action="HotWheelsDetalhe">Hotwheels</a> </button>  </div>
        <br />
</div>

<div class="row">
     <div class="col"> <img src="./img/thor1.jpg" height="200px" width="400px" />  <button  type="button"  class="filmes"> <a asp-area="" asp-controller="Filme" asp-action="ThorDetalhe">Thor</a> </button>  </div>

      <div class="col"> <img src="./img/carros.jpg" height="200px" width="400px"/>  <button  type="button"  class="filmes"> <a asp-area="" asp-controller="Filme" asp-action="CarrosDetalhe">Carros</a> </button>  </div>
    
    

</div>
           
     
    
</div>
